# Copy to /etc/systemd/system
# Then run sudo systemctl  daemon-reload
# Then run sudo systemctl  enable astrocam.service
[Unit]
Description=Astrocamera
#Requires=NetworkManager.service
#After=NetworkManager.service

[Service]
WorkingDirectory=/home/gabe/astro-camera
ExecStart=/usr/bin/pipenv run astro-camera webui -c picam
# ExecReload=/usr/bin/pipenv run astro-camera webui -c picam
ExecStop=kill $(pidof python astro-camera)
Type=simple
Restart=on-failure
TimeoutStartSec=0
StartLimitBurst=3
#StartLimitIntervalSec=15
User=gabe

[Install]
WantedBy=multi-user.target
