[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# 32 bit Raspberry Pi OS tends to not have wheels in PyPi, so we
# can use the piwheels project instead to speed up installs on that
# platform.

[[source]]
url =" https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[scripts]
# Installs picamera2 without dependencies. Useful to get auto-completion on windows
picam-no-deps = "pip install --no-deps picamera2"

[packages]
opencv-python = "*"
nicegui = "*"
astro-camera = {file = ".", editable = true}

[dev-packages]
build = "*"
mypy = "*"
ruff = "*"
pylint = "*"
viztracer = "*"
orjson = "*"
cv2-enumerate-cameras = "*"

[requires]
python_version = "3.13"
