[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
# Installs picamera2 without dependencies. Useful to get auto-completion on windows
picam-no-deps = "pip install --no-deps picamera2"

[packages]
opencv-python = "*"
nicegui = "*"

[dev-packages]
build = "*"

[requires]
python_version = "3.13"
