[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url =" https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[scripts]
# Installs picamera2 without dependencies. Useful to get auto-completion on windows
picam-no-deps = "pip install --no-deps picamera2"

[packages]
opencv-python = "*"
nicegui = "*"
astro-camera = {file = ".", editable = true}

[dev-packages]
build = "*"

[requires]
python_version = "3.13"
